.container-fluid{
    min-width: 1280px;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Arial";
    font-size: 18px;
}
.wrap {
    width: 1280px;
    margin: auto;
}
.header {
    height: 716px;
    background-image: url(image/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.header_title a {
    text-decoration: none;
    font-family: "Roboto", Helvetica, sans-serif;
    display: inline-block;
    font-size: 32px;
    color: #033876;
    margin-top: 30px;
}
.header_contacts {
    text-align: left;
}
.header_contacts_item {
    margin-top: 20px;
}
.header_contacts_item a{
    text-decoration: none;
    color: #757576;
}
.info {
    padding: 80px 0 100px;
}
.info_video {
    display: inline-block;
    width: 765px;
    height: 470px;
    background-image: url(image/TV.png);
    background-size: cover;
    position: relative;
}
.info_video_block {
   position: absolute;
    top: 39px;
    left: 37px;
}

.info_video_block iframe{
    max-width: 100%;
}
.info_text {
    color: #878686;
    float: right;
    width: 40%;
}
.offers {
    min-height: 500px;
    background-image: url(image/offers_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.offers_block {
    position: relative;
    margin-right: 1%;
    height: 200px;
    border: 5px solid #fff;
}
.offers_block_title {
    background-color: #233949;
    height: 35px;
    opacity: 0.8;
    text-align: center;
    padding-top: 10px;
}
.flat {
    background-image: url(image/photo_flat.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.house {
    background-image: url(image/photo_house.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.business {
    background-image: url(image/photo_business.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.residence {
    background-image: url(image/photo_residence.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    font-size: 32px;
    color: #033876;
    text-align: center;
    padding: 80px 0 60px;
}
.offers_block_button {
    position: absolute;
    bottom: 15px;
    left: 75px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    color:  #033876;
    cursor: pointer;
}
.offers_block_button a:focus {
    outline: none;
    color: #e04541;
}
.offers_block_button a:hover {
    color: #e04541;
}
.offers_block_button a {
    text-decoration: none;
    color:  #033876;
}
.data {
    width: 100%;
    height: 700px;
}
.data_block {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 70px;
    min-height: 220px;
    vertical-align: bottom;
}
.data_block_title {
    color: #fff;
    height: 55px;
    background-color: #256bbe;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.data_block_text {
    color: #878686;
    width: calc(100% + 35px);
}
.data_block img {
    position: absolute;
    z-index: 1;
    top: -9px;
    right: 35px;
    width: 70px;
}
.footer {
    background-image: url(image/footer_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
}
.footer_contacts {
    text-align: center;
    padding-top: 50px;
}
.footer_contacts_item {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    color: #878686;
    padding-right: 50px;
}
.footer_contacts_rights {
    padding-top: 50px;
    text-align: center;
}
h2 {
    font-size: 24px;
    font-weight: 100;
    color: #033876;
    text-align: center;
    padding-bottom: 30px;
}
.info_img {
    display: inline-block;
    width: 700px;
    height: 404px;
    background-image: url(image/main_photo.png);
    background-size: cover;
    position: relative;
    padding: 3px;
    border: 1px solid #000;
}
.photo {
    margin-top: 50px;
    margin-bottom: 30px;
}
.photo_item {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 248px;
    margin-right: -4px;
}
.photo_item1 {
    background-image: url(image/photo_1.png);
    background-repeat: no-repeat;
}
.photo_item2 {
    background-image: url(image/photo_2.png);
    background-repeat: no-repeat;
}
.photo_item3 {
    background-image: url(image/photo_3.png);
    background-repeat: no-repeat;
}
.photo_item4 {
    background-image: url(image/photo_4.png);
    background-repeat: no-repeat;
}
.photo_item5 {
    background-image: url(image/photo_5.png);
    background-repeat: no-repeat;
}
.photo_item6 {
    background-image: url(image/photo_6.png);
    background-repeat: no-repeat;
}
.photo_item7 {
    background-image: url(image/photo_video.png);
    background-repeat: no-repeat;
}
.photo_video {
    position: absolute;
    top: 8px;
    left: 8px;
}






